<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href ="{{url_for('static', filename='main.css')}}" rel="stylesheet">
    {% block head %}{% endblock %} <!-- flask head block -->
</head>
<body>
     <!-- Header -->
     <header>
        <h1>Welcome to My Website</h1>
    </header>

    <!-- Navigation -->
    <nav>
        <ul>
            {% if current_user.is_anonymous %}
            <a class ="navbar-brand"></a>
            <li class="nav-item"><a class="nav-link {%block nav_home_logout %}{% endblock %}" href="{{ url_for('index')}}">Home</a></li>
            <li class="nav-item"><a class="nav-link {%block nav_login %}{% endblock %}" href="{{ url_for('login')}}">Log in</a></li>
            <li><a href="#">About</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link {%block nav_home_login %}{% endblock %}" href="{{ url_for('index')}}">Home</a></li>
            <li><a class="nav-link {%block nav_task_master %}{% endblock %}" href="{{ url_for('TaskMaster')}}">TaskMaster</a></li>
            <li><a href="#">About</a></li>
            <li class="nav-item"><a class="nav-link {%block nav_logout %}{% endblock %}" href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>


    <!-- Main Content -->
    <div class="container">
        <h2>Main Content Area</h2>
        <p>This is a simple website template with external CSS.</p>
        {% block body %}{% endblock %} <!-- flask body block -->
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2023 My Simple Website. All rights reserved.</p>
    </footer>
</body>
</html>
