{% extends 'base.html' %} <!-- its telling from where to grab template -->

{% block head %} <!-- flask head block from base.html -->


{% endblock %} <!-- end of block -->

{% block body %} <!-- flask body block from base.html -->
<div class = "task-create-form">
    <h1>Tasks
    </h1>
    <form method="POST" action="" novalidate>
    {{ form.hidden_tag() }}
        <p class="label">
            {{ form.task_name.label }} <br>
             {{ form.task_name }}
        </p>
        <p class="label">
            {{ form.task_due_date.label }} <br>
            {{form.task_due_date}}
        </p>
        <p>
            <button class="button-submit" action='{{ form.submit() }}'>submit task</button>
        </p>
    </form>
</div>
<div class="taskmaster-container">
    <h1>TaskMaster Records</h1>
    <div class="user-greeting">
            Logged in as: <strong>{{ current_user.user_name }}</strong>
    </div>
    <table class="task-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Task Name</th>
                <th>Assignee</th>
                <th>Due Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.task_id }}</td>
                <td>{{ task.task_name }}</td>
                <td>{{ task.task_assignee }}</td>
                <td> {{ task.task_due_date }}</td>
                <td>{{ task.status }}</td>
                <td><form action="{{ url_for('update_status', task_id=task.task_id) }}" method="POST">
                    <button type="submit" class="status-btn {% if task.status == 'Completed' %}status-completed{% else %}status-pending{% endif %}">
                        Task Status Update
                    </button>
                </form></td>
                <td>
                    <form action="{{ url_for('delete_task', task_id=task.task_id) }}" method="POST">
                        <button type="submit" class="delete-btn">❌</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}