{% extends 'base.html' %} <!-- its telling from where to grab template -->

{% block head %} <!-- flask head block from base.html -->


{% endblock %} <!-- end of block -->

{% block body %} <!-- flask body block from base.html -->
<div class = "task-create-form">
    <h1>Tasks
        <button type="submit" class="btn-task-submit"></button>
    </h1>
    <form method="POST" action="{{ url_for('tasks') }}" novalidate>
    {{ form.hidden_tag() }}
        <p>
            {{ form.task_name.label }} <br>
            {{ form.task_name }}
        </p>
        <p>
            {{ form.task_assignee.label }} <br>
            {{ form.task_assignee }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
</div>
<div class="taskmaster-container">
    <h1>TaskMaster Records</h1>
    <table class="task-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Task Name</th>
                <th>Assignee</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.task_id }}</td>
                <td>{{ task.task_name }}</td>
                <td>{{ task.task_assignee }}</td>
                <!--<td class="status-{{ task.status }}">{{ task.status|capitalize }}</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} <!-- end of block -->